/* ==UserStyle==
@name           AI-Studio-Gruvbox-Dark
@namespace      github.com/openstyles/stylus
@version        1.1.3
@description    A new userstyle
@author         Me
==/UserStyle== */





@-moz-document regexp("aistudio.google.com") {
    /* Your code goes here. */
    @import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

p, h1, h2, h3, h4, h5, h6, a, span, li, div, code, pre {
    font-family: 'Chivo', sans-serif !important;
    /*font-size : 14px ;*/ 
}

}
@-moz-document domain("aistudio.google.com") {
	
	
		/* Insert code here... */
	/*Font Import */
	/*Importing Margon */
	/*Margon Medium Import */
	@font-face {
		font-family: "Margon 360 W08 Medium";
		src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot");
		src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.svg#Margon 360 W08 Medium")format("svg");
	}


	@import url(https://db.onlinewebfonts.com/c/90100147a9b552a477200bfb737766e5?family=Margon+360+W08+Medium);



/* bricolage-grotesque-latin-wght-normal */
@font-face {
  font-family: 'Bricolage Grotesque Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  font-stretch: 75% 100%;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/bricolage-grotesque:vf@latest/latin-standard-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}


	/*Lora Font Import*/
	@font-face {
		font-family: "Lora";
		src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot");
		src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.svg#Lora")format("svg");
	}












	/*Lingistics Pro Font  */
	@font-face {
		font-family: "Linguistics Pro";
		src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot");
		src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.svg#Linguistics Pro")format("svg");
	}
	@import url(https://db.onlinewebfonts.com/c/3612352f3b0606a3a5d675e7279f7c17?family=Linguistics+Pro);





	/*Commit Mono*/
	@font-face {
		font-family: "CommitMono";
		src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot");
		src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.svg#CommitMono")format("svg");
	}



	@import url(https://db.onlinewebfonts.com/c/3d911dba955015058da8755197d0a58c?family=CommitMono);





	/*Fira Mono */
	/* 
	
	Fira Mono font weights:
  - Fira Mono 400 (Regular)
  - Fira Mono 500 (Medium)
  - Fira Mono 700 (Bold)
*/
	/* fira-mono-regular - latin */
	/* fira-mono-latin-400-normal */
	/* fira-mono-latin-400-normal */
	@font-face {
		font-family: 'Fira Mono';
		font-style: normal;
		font-display: auto;
		font-weight: 400;
		src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.ttf) format('truetype');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}








	/* Spline Sans */
	/* spline-sans-latin-wght-normal */
	@font-face {
		font-family: 'Spline Sans Variable';
		font-style: normal;
		font-display: auto;
		font-weight: 300 700;
		src: url(https://cdn.jsdelivr.net/fontsource/fonts/spline-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}















	/*Hack Font */
	@font-face {
		font-family: "Hack";
		src: url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.eot");
		src: url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.svg#Hack")format("svg");
	}














	/*Karla Font Testing */
	@font-face {
		font-family: "Karla";
		src: url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot");
		src: url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.svg#Karla")format("svg");
	}















	@font-face {
		font-family: "Karla Medium";
		src: url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.eot");
		src: url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.svg#Karla Medium")format("svg");
	}







	@font-face {
		font-family: "Karla Bold";
		src: url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.eot");
		src: url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.svg#Karla Bold")format("svg");
	}













	/*Archivo Font */
	@font-face {
		font-family: "Archivo";
		src: url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.eot");
		src: url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.svg#Archivo")format("svg");
	}






/* literata-latin-wght-normal */
@font-face {
  font-family: 'Literata Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/literata:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
	
	
	
	/* jetbrains-mono-latin-wght-normal */
@font-face {
  font-family: 'JetBrains Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

	
	    :root

{
    /* 0 is for darkest 
    1 is for hard 
    higher values for hard  */


    /* 2.1 Dark theme color variables */
    --bg0-dh:       #1d2021;
    --bg-dark-new  :  #1F1E1D ; 
/*For basic text new color added  	 */
--text-normal :#ffd29c ;

    --shadow-bg:         #1d1b1a;
    
    --bg1-dark:       #3c3836;
    --bg-dark:        #282828;
    --bg2-dark:       #504945;
    --bg3-dark:       #665c54;
    --bg4-dark:       #7c6f64;
    --bg5-dark:       #928374;
    --bg_visual:      #503946;
    --bg_red:         #cc241d;
    --bg_green:       #98971a;
    --bg_blue:        #458588;
    --bg_yellow:      #d79921;
    --shadow:         #16181a;
    --shadow-var1:         #17191b;
    --shadow-cur:         #1a1b1d;

    --fg-dark:        #ebdbb2;
    --grey0-dark:     #7f897d;
    --grey1-dark:     #859289;
    --grey2-dark:     #9aa79d;

    --faded-red:     #fb4934;
    --faded-orange:  #fe8019;
    --faded-yellow:  #fabd2f;
    --faded-green:   #b8bb26;
    --faded-aqua:    #8ec07c;
    --faded-blue:    #83a598;
    --faded-purple:  #d3869b;

    --dim-red:       #cc241d;
    --dim-orange:    #d65d0e;
    --dim-yellow:    #d79921;
    --dim-green:     #98971a;
    --dim-aqua:      #689d6a;
    --dim-blue:      #458588;
    --dim-purple:    #b16286;


    /* 2.2 Light theme color variables */
    --bg0-light:     #f0edd8;
    --bg1-light:     #f6f1dd;
    --bg-light:      #fdf6e3;
    --bg2-light:     #f3efda;
    --bg3-light:     #edead5;
    --bg4-light:     #e4e1cd;
    --bg5-light:     #dfdbc8;
    --grey0-light:   #a4ad9e;
    --grey1-light:   #939f91;
    --grey2-light:   #879686;
    --shadow-light:  #3c474d20;


    --text-offwhite: #fbf1c7;
    --text-offyellowish: #f2e5bc;
    --text-white: #f9f5d7;
    --text-offwhite-faded: #ebdbb2;
    --text--faded: #d5c4a1;
    --text--veryfade: #928374;

    

    



    --bg_visual_light:      #eaedc8;
    --bg_red_light:         #fbe3da;
    --bg_green_light:       #f0f1d2;
    --bg_blue_light:        #e9f0e9;
    --bg_yellow_light:      #faedcd;

    --fg-light:       #5c6a72;

    --light-red:     #f85552;
    --light-orange:  #f57d26;
    --light-yellow:  #bf983d;
    --light-green:   #899c40;
    --light-aqua:    #569d79;
    --light-blue:    #5a93a2;
    --light-purple:  #b87b9d;

    --light-dim-red:    #f1706f;
    --light-dim-orange: #f39459;
    --light-dim-yellow: #e4b649;
    --light-dim-green:  #a4bb4a;
    --light-dim-aqua:   #6ec398;
    --light-dim-blue:   #6cb3c6;
    --light-dim-purple: #e092be;



 --dark-red: #9d0006;    
  --dark-green: #79740e;  
  --dark-yellow: #b57614; 
  --dark-blue: #076678;   
  --dark-purple: #8f3f71; 
  --dark-aqua: #427b58;   
  --dark-orange: #af3a03;


/* light colors */
  --interface-light0-hard: #f9f5d7; 
  --interface-light0: #fbf1c7; 
  --interface-light0-soft: #f2e5bc;
  --interface-light1: #ebdbb2;
  --interface-light3: #bdae93;
  --interface-light4: #a89988;


 
	
	
	}
	
	
	
	/*Save Share reset get code and Get APi key icon Side bar colors  */
	.mdc-button .mdc-button__label , .nav-item-text-wrapper {
	 color:#83a867 !important;
		
		font-family: "Bricolage Grotesque Variable" , sans-serif !important ; 
		font-size: 0.98rem !important ; 
		font-weight: 400 !important ; 
		font-stretch: semi-condensed
}
	
	/*Google AI Studio text and UNitiled post text */
	h1{
		color : #98971a !important ; 
		font-size: 1.5rem !important ; 
		font-family: "Bricolage Grotesque Variable"  !important ; 
		font-stretch : semi-condensed !important ; 
		font-weight: 600 !important ;
	}
	
	
	/*SIde bar text */
	/*System instrcutions adn Run settings  text */
	h2 , .gmat-title-medium  , h3 {
		color:#f57d26 !important;
		font-family: "Bricolage Grotesque Variable"  !important ; 
		font-stretch: normal !important ; 
		font-weight: 550 !important ;
	}
	
	/*All icons inside the webapp*/
	.dark-theme .material-symbols-outlined{
		color:#79740e !important;
	}
	
	
	
	/*Suggestions Background div */
	/*Cusom Suggestions background color */
	div.suggestion-card.container {
	
		background: #16181a !important ; 
		border: solid 3px #3c3836 !important ; 
}
	
	/*Cusom Suggestions background color */
	/*BOrder and backgorund hover */
	div.suggestion-card.container:hover{
	
		background: #1a1b1d !important ; 
		border: solid 3px #83a598 !important ; 
		transition: background 0.5s ease-in-out , border .3s ease-in-out !important; 
}
	
	
	
	
	
	
	
	
	
	
	
/* Left Sidebar button Hover */
a.nav-item:hover {
  background-color: #16181a  !important;
	border : solid 2px #665c54 !important ;
	transition: border 0.3s ease-in !important ; 
}
	
	
	
	
	
	
	
	
	
	
	
	
	/*input Text and related styles */
	/*Text you enter inside the text area*/
	textarea{
		color:#d5c4a1 !important;
		
  font-family: 'Literata Variable' !important;
	}
	
	
	/*Text tat is just there as an input place holder */
	textarea::placeholder{
	 		
  font-family: 'Jetbrains Mono Variable' , 'Jetbrains Mono' !important;
		color:#fb4934 !important;
	}
	
	.input-wrapper {
    border: 3px solid #3c3836 !important ; 
    border-radius: 10px !important;
    overflow: hidden;
}
	
	.input-wrapper:focus-within {
    background: #16181a !important ; 
	
	
	}
	
	
	
	
 	/*User input  div */
	
	.user-prompt-container .text-chunk {

	color : #83a598 !important ; 
    background: #282828 !important ; 
		border: solid 3px #504945 !important 
	
	}
	
	/*Hover for user input */
	  .text-chunk:hover{

	color : #83a598 !important ; 
    background: #16181a !important ; 
		border: solid 3px #928374 !important ; 
	transition: background .5s ease-in-out !important ;
		  
	
	}
	
	
	
	
	
	/*BACKGROUND SYLES*/
	
	/*TOp bar */
	
	.base-header, .page-header{
		background-color:#16181a !important;
	}
	
	/*System instucitons and RUn stetings background */
	.system-instructions , .header , .overlay-header {
		color:#1a1b1d !important;
		background-color:#1f1e1d !important;
		border: solid 2.5px  #3c3836 !important ; 
	}
	
	/*Side bar settings -> RIght background */
	.settings-items-wrapper , .expand-collapse-toggle-wrapper{
		background-color:#16181a !important;
	}
	
	/*Main Chat Background */
	ms-chat-session {
		background-color:#16181a !importAnt;
	}
	
	/*Hide the ugly lower backgorund */
	caption {
		display: none !important ;
	}
	
	/*Lower footer where prommpt is entered */
	footer {
		padding: 12px 16px 16px 16px !important; 
		background-color:#16181a !important;
	}
	
	
		
	
	/*Get Code Button */
	.get-code-button .get-code-button-text {
    color: #fb4934  !important ;
	font-family: "Bricolage Grotesque Variable" !important; 
	font-stretch: semi-condensed !important ; 
	font-size: 1.2rem !important ;
	font-weight: 550 !important ;
	
}
	
	
	
	/*Model name bar */
	.mat-mdc-select-value-text {

	color:#b8bb26 !important;
				font-family: "Bricolage Grotesque Variable" !important ; 
		font-stretch: extra-condensed !important ; 
		font-weight: 800 !important ; 
	}
	
	
	.dark-theme .cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel{
		background-color:#1D2021 !important;
	
		
	}
	
	/*models inside the model selection dialogue box */
	span.base-model.gmat-body-medium{
		color:#b8bb26 !important;
				font-family: "Bricolage Grotesque Variable"   !important ;
		font-stretch: normal !important ;
		font-weight: 500 !important ;
	}
	
	
	
	/*Model FUll into subtitiles insdie the dialogue box */
		.base-model-subtitle {
		color:#ffd29c !important;
				font-family: "Bricolage Grotesque Variable"   !important ;
		font-stretch: normal !important ;
		font-size: 1rem !important ;
}
	
	
	

	
	
	
	
	
	
	
	/*New model Idicator SIDE BAR */
	/* New model tag button */
	.base-model .new-model , .new-badge {
		color : #d5c4a1 !important ; 
		background: #1d1b1a !important ; 
		border : solid 1px #83a598 !important  ; 
}
	
	/*Model Optioons Different model */
	div.model-option-content{
	font-family: "Bricolage Grotesque" !important ; 
	}
	
	

	
	
	/*Model Information*/
	div.container{
		color : #b8bb26 !important ; 
		background: #1f1e1d !important ; 
		font-family: "Jetbrains Mono" !important ; 
	}
	
	
	/*Name of the model onthe page*/
	span.gmat-body-medium {
   font-family: "Bricolage Grotesque" !important ; 
}
	
	/*This is thing  */
	div.item-input.token-count div {
    color: #b8bb26 !important; 
   font-family: "Bricolage Grotesque Variable" !important ; 
	font-stretch: semi-condensed !important  ; 
		font-weight: 500 !important ; 
		font-size: 1.05rem !important ; 
}
	
	/*Side bar model info*/
	div.model-name{
		color: #fb4934 !important ; 
		
		font-family: "Bricolage Grotesque" !important ; 
	}
	
	/*HOver model info */
	div.model-info{
		color: #83a598 !important ; 
		
		font-family: "Jetbrains Mono" !important ; 
	}
	
	
	
	/*YUser Prompt Div background */
	._be6c57ce51d641fd8c2d .user-prompt-container .text-chunk  {
    background-color: #1d1b1a !important;
	border : solid #504945 1px !important; 
    border-radius: 16px !important;
    padding: 12px !important;
    color: #d5c4a1 !important;
}
	
	
	
	
	/*User Prompt Div background */
	p {
	color : #d5c4a1 !important ; 
  font-family: 'Literata Variable' !important;
}
	
	
	/*Bold text */
	strong {
		
	color :  #b8bb26 !important ; 
	font-family: "Bricolage Grotesque Variable" !important ; 
	font-weight: 550 !important ; 
	font-stretch: 93% !important ; 
	font-size: 1.02rem !important ; 
	}
	
	
	
	li::marker{
	font-family: "Bricolage Grotesque" !important ; 
		color: #d65d0e !important ; 
	}
	
	
	
	/*Hidden Disclaimer -> I hate having this enabled */
	.disclaimer{
		display: none !important ; 
	}
	
	
	
	
	/*Icon*/
	
	svg {
		color: #83a598 !important ;
	}
	.dark-theme .material-symbols-outlined {
    color: #83a598 !important;
}
	
	
	/* Front page SUggestion container icon colors  */
.icon-container.icon-container-image {
  background-color: #83a598  !important; /* Change this to your preferred color */
}

/* Ensure the img-block inherits the color */
.icon-container .img-block {
  background-color: inherit !important;
}
	
	
	.mat-mdc-icon-button:hover {
  border: 1px solid #665c54 !important; /* Customize border style, width, and color */
  border-radius: 50% !important; /* To maintain the circular shape if desired */
}
	
	
	
	
	
	
	
	/* Top buttefly like icon color target */

	/* Target the SVG and its paths */
svg.dark-mode-shown path {
  fill: #79740e !important; /* Change fill color */
  stroke: #79740e  !important; /* Change stroke color */
}
	
	
	
	/*Get API Key text*/
   span 	div.gmat-title-small {
	   color : #fb4934 !important ;
	   font-family: "Bricolage Grotesque Variable" !important; 
	   font-stretch: 89% !important ;
	   font-size: 1rem !important ; 
	   
}
	
	/*Api Key bborde button */
	.layout-navbar .get-api-key-button{
    padding: 0 4px 0 8px !important;
    background-color: #1d1b1a !important;
	border: solid 1px #3c3836 !important ; 
}
	
	
	
	

	
	
	
	
	
	
	
	/*CODE RELATeD SYLES */
	
	
	/*Inline Code background */
	.inline-code{
		color: #83a867 !important;
		background: #282828 !important;
		font-family: "Jetbrains Mono" !important;
		font-size: 0.76rem !important;
		font-weight : 800 !important ; 
		border: solid 1px #3c3836 !important;
		border-radius: 23px !important ; 
		padding: 0.1rem 0.5rem !important;
	}
	
	
	.syntax-highlighted-code-wrapper pre {
    color : #ffd29c !important ; 
	background: #16181a !important ; 
		border-radius: 0.2rem !important ; 
}
	
	div.syntax-highlighted-code {
		background: #1f1e1d !important ; 
}
	
	
	/*Code Programmming Language */
	.syntax-highlighted-code-wrapper .language {
    font-size: .96rem !important;
		color: #b8bb26 !important ; 
		font-family: "Jetbrains Mono" !important;
}
	

	
	code {
		color: #8ec07c !important;
		font-family: "Jetbrains Mono" !important;
		font-weight: 600 !important;
		font-size: 0.9rem !important  ; 
	}

	
	code .hljs {
    display: block !important;
    overflow-x: auto !important;
    padding: 0.5em !important;
    background: #282828 !important;
    color: #ebdbb2 !important;
}

code .hljs-meta {
    color: #8ec07c !important;
}

code .hljs-meta-string {
    color: #fe8019 !important;
}

code .hljs-comment {
    color: #928374 !important;
}

code .hljs-keyword {
    color: #fb4934 !important;
}

code .hljs-selector-tag {
    color: #83a598 !important;
}

code .hljs-title {
    color: #fb4934 !important;
}

code .hljs-function {
    color: #83a598 !important;
}

code .hljs-built_in {
    color: #fe8019 !important;
}

code .hljs-number {
    color: #d3869b !important;
}

code .hljs-literal {
    color: #d3869b !important;
}

code .hljs-string {
    color: #b8bb26 !important;
}

code .hljs-class {
    color: #fabd2f !important;
}

code .hljs-attribute {
    color: #83a598 !important;
}

code .hljs-selector-attr {
    color: #83a598 !important;
}

code .hljs-selector-pseudo {
    color: #83a598 !important;
}
	
	
	code .hljs-selector-class {
    color: #fabd2f !important;
}
	
		
	code .hljs-subst , .hljs-attr {
    color: #83a598 !important;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/*Temperature icon */
	
	
	.dark-theme {
    --mat-slider-value-indicator-width: auto;
    --mat-slider-value-indicator-height: 32px;
    --mat-slider-value-indicator-caret-display: block;
    --mat-slider-value-indicator-border-radius: 4px;
    --mat-slider-value-indicator-padding: 0 12px;
    --mat-slider-value-indicator-text-transform: none;
    --mat-slider-value-indicator-container-transform: translateX(-50%);
    --mdc-slider-active-track-height: 6px;
    --mdc-slider-active-track-shape: 9999px;
    --mdc-slider-handle-height: 20px;
    --mdc-slider-handle-shape: 50%;
    --mdc-slider-handle-width: 20px;
    --mdc-slider-inactive-track-height: 4px;
    --mdc-slider-inactive-track-shape: 9999px;
    --mdc-slider-with-overlap-handle-outline-width: 1px;
    --mdc-slider-with-tick-marks-active-container-opacity: 0.6;
    --mdc-slider-with-tick-marks-container-shape: 50%;
    --mdc-slider-with-tick-marks-container-size: 2px;
    --mdc-slider-with-tick-marks-inactive-container-opacity: 0.6;
    --mdc-slider-handle-color:  #83a867 !important ;
    --mdc-slider-focus-handle-color:  #B8BB26 !important ;
    --mdc-slider-hover-handle-color:  #FABD2F !important ;
    --mdc-slider-active-track-color: #427b58 !important ;
		/*hidden track color */
    --mdc-slider-inactive-track-color: #8ec07c !important;
    --mdc-slider-with-tick-marks-inactive-container-color: var(--color-primary-70);
    --mdc-slider-with-tick-marks-active-container-color: white;
    --mdc-slider-disabled-active-track-color: #fff;
    --mdc-slider-disabled-handle-color: #fff;
    --mdc-slider-disabled-inactive-track-color: #fff;
    --mdc-slider-label-container-color: #fff;
    --mdc-slider-label-label-text-color: #000;
    --mdc-slider-with-overlap-handle-outline-color: #fff;
    --mdc-slider-with-tick-marks-disabled-container-color: #fff;
    --mdc-slider-handle-elevation: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
    --mat-slider-ripple-color: var(--color-primary-70);
    --mat-slider-hover-state-layer-color: rgba(var(--color-primary-70),0.05);
    --mat-slider-focus-state-layer-color: rgba(var(--color-primary-70),0.2);
    --mat-slider-value-indicator-opacity: 0.9;
    --mdc-slider-label-label-text-font: "Google Sans Text","Helvetica Neue",sans-serif;
    --mdc-slider-label-label-text-size: 14px;
    --mdc-slider-label-label-text-line-height: 20px;
    --mdc-slider-label-label-text-tracking: normal;
    --mdc-slider-label-label-text-weight: 500;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}
